/* Global Styles */
:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #db182b;
    --success-color: #1ee04b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 370px;
    height: 356px;
    margin: 12px;
}

.navbar ul {
    display: flex;
}

.seat-img img {
    width: 700px;
    height: 456px;
    margin: 12px;
}

/* Text Styles*/
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

/* Padding */
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.py {
    padding: 0.5rem 0;
}
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

/* Margin */
.m {
    margin: 0.5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.my {
    margin: 0.5rem 0;
}
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-b-24 {
    margin-bottom: 24px;
}

.m-top-48 {
    margin-top: 48px;
}

/* price box */
.price-box {
    width: 80px;
    padding: 2px;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 24px;
}

.vip {
    background-color: #f51836;
    border: 1px solid #f51836;
}

.first-class {
    background-color: #3edd84;
    border: 1px solid #3edd84;
}

.second-class {
    background-color: #eadc30;
    border: 1px solid #eadc30;
}

.price h4 {
    margin-bottom: 24px;
}

.select-tickets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Landing Page */
.landing {
    position: relative;
    /* background: url("./img/showcase.jpg") no-repeat center center/cover; */
    height: 100vh;
}

.top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.dropdown-btn {
    margin: 24px;
}

.landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.frwd-btn {
    align-self: "center";
    background-color: "black";
    border: "none";
    border-radius: "50%";
    color: "white";
    cursor: "pointer";
    font-size: "30px";
    height: 40;
    line-height: 1;
    text-align: "center";
    width: 40;
    position: "fixed";
    bottom: 0;
    top: 500;
    right: 30;
}

.bkwd-btn {
    align-self: "center";
    background-color: "black";
    border: "none";
    border-radius: "50%";
    color: "white";
    cursor: "pointer";
    font-size: "30px";
    height: 40;
    line-height: 1;
    text-align: "center";
    width: 40;
    position: "fixed";
    bottom: 0;
    top: 500;
    left: 30;
}

.displayShows {
    padding: 24px;
    display: flex;
    align-items: flex-start;
    text-align: center;
}

.booking-header {
    display: flex;
    z-index: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f5f5ed;
    height: 60px;
}

.center {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.success-screen {
    z-index: 1;
    position: absolute;
    height: calc(100vh - 132px);
}

.center-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.can-con-button {
    padding: 12px 34px;
    font-size: 18px;
    margin-right: 24px;
}

.promo-code {
    padding: 12px 6px;
    font-size: 20px;
}

.labelText {
    color: "#262626";
    font-size: 21px;
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
